.mainbody{
  width: 400px;
  
}
.justify-elements {
  text-align: center;
  width: 260px;
/* 
  justify-content: center;
  align-items: center; */
}
.popup-bag {
  display: block;
  height: 120px;
  width: 100px;
  margin: 35px auto;
}
.popup-reminder {
  text-align: center;
  margin-top: 20px;
  /* justify-content: center; */
  width: 320px;
  font-size: small;
  font-weight: 500;
  padding-bottom: 100px;
}
.footer {
  width: 100%;
  border-top: 3px solid #22aa97;


}
.popup-greet {
  color: #22aa97;
  font-weight: 540;

}
.heading-name {
 margin-left:30%;
}
.heading-name img {
  height: 30px;
  width: 150px;
  
}
hr {
  color: rgb(45, 189, 136);
  margin-top: 0;
}
.setting-button {
  margin-right: 0;
}
.setting-icon {
  width: 30px;
  height: 30px;
}
.navbar{
  border-bottom:3px solid #22aa97;
}
.footer-icons{
height: 35px;
width: 35px;
}
